body{
    background-size:cover ;
}
.heading{
    font-size:30px ;
    width: 100%;
    margin:0px;
}
canvas{
    border:2px solid white;
    border-radius: 35px;
    margin-top: 110px;
    box-shadow:5px 5px 5px black;
}
.back{
    float:right;
    background-color: black;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 10px;
    color:white;
    border-radius: 15%;
}